@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-20">
    <div class="col-md-2" style="float:left">
        <h3 class="lh10 mt-5">Available Cars</h3>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary btn-xs btn-rounded mt-5 mb-5" onclick="addCar()"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Add New Car</button>
    </div>

    <div class="col-md-3" style="float:right">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control zawgyi_text" placeholder="Search Car..." name="q" onkeyup="keySearch(this.value)" id="txt_SearchText" autocomplete="off">
                <span class="input-group-btn">
                    <button class="btn btn-default pull-right" style="margin-left:5px;border-radius:7px" type="button" onclick="Search()">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalModule" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div id="Module">
            </div>
        </div>
    </div>
</div>

<div id="modal_delete" class="modal fade in" style="display: none; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h5 class="modal-title" id="delete_title_info">Delete Confirmation</h5>
            </div>

            <div class="modal-body">
                <h6 class="text-semibold" id="delete_body_title_info">Are you sure to delete?</h6>
                <p id="delete_body_info">If you are sure to delete this, click 'Delete' and note that it is irreversible in action.</p>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-rounded legitRipple" data-dismiss="modal"><i class="glyphicon glyphicon-minus-sign"></i>&nbsp;Close</button>
                <button type="button" id="btn_delete" onclick="deleteEntity(this)" data-id="" data-modal-id="" class="btn btn-danger btn-rounded legitRipple"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="div_module_list">

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="Photo">
            </div>
        </div>
    </div>
</div>
@section scripts{
<script type="text/javascript">
        var page = 1;
        var pagesize = 10;
        var carname;
        var photoStr;

        $(function () {
            LoadMainList();
            initPaging();
        });

        function initPaging() {
            $("#div_module_list").on("click", ".pagedList a", function (e) {
                e.preventDefault();
                var $a = $(this).attr("href");
                try {
                    var pageurl = $a.split(/=/);
                    page = pageurl[1];
                    if (page == null) {
                        page = 1;
                    }
                }
                catch (e) {
                    page = 1;
                }
                LoadMainList();
            });
        }

        function keySearch(e) {
            Search();
        }

        function Search() {
            carname = $('#txt_SearchText').val();
            LoadMainList(true);
        }

        function LoadMainList() {
            $.ajax({
                cache: false,
                url: '@Url.Action("_carList", "Car")',
                data: { carname: carname, pagesize: pagesize, page: page},
                beforeSend: function () {
                },
                success: function (result) {
                    $('#div_module_list').empty().append(result);
                },
                complete: function () {
                }
            });
        }

        function addCar() {
            ModuleForm("Add", 0);
        }

        function EditModule(e) {
            var ID = $(e).attr('data-ID');
            ModuleForm("Edit", ID);
        }

        function ModuleForm(FormType, ID) {
            $.ajax({
                cache: false,
                url: '@Url.Action("_CarForm", "Car")',
                data: { FormType: FormType, ID: ID },
                beforeSend: function () {
                },
                success: function (myData) {
                    $('#Module').empty().append(myData);
                },
                complete: function () {
                    $('#myModalModule').modal({ backdrop: 'static' }, 'show');
                    $('#myModalModule').modal('show');

                    $('.DOM_Form').pickadate({
                        editable: true,
                        selectMonths: true,
                        selectYears: 200,
                        min: new Date(1910, 1, 1),

                    });

                    CKEDITOR.replace("Description");
                    CKEDITOR.replace("Features");

                   $('#ModuleForm').submit(function (e) {
                        var feature = CKEDITOR.instances.Features.getData();
                        var text = CKEDITOR.instances.Description.getData();
                        e.preventDefault();
                       $.ajax({
                           type: "Post",
                            cache: false,
                            url: '@Url.Action("Save", "Car")',
                            data: $(this).serialize() + "&feature=" + feature + "&desc=" + text,
                            beforeSend: function () {
                                $('.btn').prop("disabled", true);
                            },
                            success: function (myData) {
                                $('#myModalModule').modal('hide');
                            },
                            complete: function () {
                                $('#myModalModule').modal('hide');
                                $('.btn').prop("disabled", false);
                                LoadMainList();
                            }
                        });
                    });
                }
            });
        }

        function deleteconfirmation(e) {
            var modal = $('#modal_delete');
            var btn_delete = $('#btn_delete');
            btn_delete.data('id', $(e).attr('data-id'));
            btn_delete.data('modal-id', $(e).attr('data-modalid'));
            modal.modal('show');
        }

        function deleteEntity(e) {
            var id = $(e).data('id');
            var modalid = $(e).data('modal-id');
            $.ajax({
                url: '@Url.Action("Delete", "Car")',
                type: 'GET',
                data: { ID: id },
                beforeSend: function () {
                    $('.btn').prop('disabled', true);
                },
                success: function (response) {
                    if (response == "Success") {
                        $('#' + modalid).modal('hide');
                        LoadMainList();
                    }
                    else {
                    }
                    $('.btn').prop('disabled', false);
                }
            });
        }

        function ShowImagePreviewArticle(imageUploader) {
            photoStr = "";
            if (imageUploader.files && imageUploader.files[0]) {
                var dvPreview = $("#dvPreview");
                dvPreview.html("");
                $($("#filearticle").get(0).files).each(function () {
                    var file = $(this);
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = $("<img />");
                        img.attr("style", "height:100px;width: 100px");
                        img.attr("src", e.target.result);
                        dvPreview.append(img);
                    }
                    reader.readAsDataURL(file[0]);
                    reader.onloadend = function () {
                        var base64data = reader.result + "_";
                        photoStr += base64data;
                        $('#photo_article').val(photoStr);
                    }
                });
            }
    }
    </script>
}

















